* {
    box-sizing: border-box;
  }
  
  body {
    background-color: $color-light;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
  html {
    height: 100%;
    width: 100%;
    font-family: 'Montserrat';
    color: $color-white;
  }
  .rotated__cut-rectangle {
    text-align: center;
    right: -30px;
    top: 31px;
    border-bottom: 25px solid $color-dark-red;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    transform: rotate(45deg);
    line-height: 25px;
    font-size: 14px;
    font-weight: 700;
    width: 147px;
    height: 0;
    position: absolute;
  }