@import 'variables.scss';
@import 'cards.scss';
@import 'main-page.scss';

* {
  box-sizing: border-box;
}

.rotated__rectangle {
  position: absolute;
  text-align: center;
  transform: rotate(45deg);
  width: 147px;
  height: 0;
  right: -35px;
  line-height: 25px;
  top: 31px;
  font-size: 14px;
  font-weight: 700;
  border-bottom: 25px solid $color-dark-red;
}

