.price-table {
  display: flex;
  justify-content: center;

  // flex-direction: row;
}

html {
  font-family: 'Montserrat';
  color: $color-white;
}

body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  flex-direction: row;
  padding: 115px 132px;
  background-color: $color-black;
}
